<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.ur.remex">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/medbo_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:ignore="AllowBackup">

        <activity android:name=".admin.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.AdminActivity" android:screenOrientation="portrait"/>
        <activity android:name=".admin.CurrentVPActivity" android:screenOrientation="portrait" android:noHistory="true"/>
        <activity android:name=".admin.CreateVPActivity" android:screenOrientation="portrait" android:noHistory="true"/>
        <activity android:name=".view.InstructionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.SurveyEntranceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.WaitingRoomActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.BreathingExerciseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.ChoiceQuestionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.TextQuestionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.PointOfTimeQuestionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.TimeIntervalQuestionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.LikertQuestionActivity" android:screenOrientation="portrait"/>

        <service
            android:name=".utilities.AppKillCallbackService"
            android:stopWithTask="false" />

        <receiver android:name=".utilities.AlarmReceiver">
        </receiver>

    </application>

</manifest>